//@import "bootstrap/scss/bootstrap";
body{
    background-color: #b4b4b4;
    color: #281000FF;
}

.main{
    display:flex;
    flex-direction: row;
}

.add-form{
    display: flex;
    flex-direction: column;
}